CREATE TABLE device (
      device_id INTEGER PRIMARY KEY AUTO_INCREMENT,
      name TEXT,
      ip TEXT,
      vendor TEXT,
      username TEXT,
      password TEXT,
      auth_password TEXT,
      priv_password TEXT
    );
INSERT INTO device VALUES(1,'R1','192.168.20.2','cisco','nlabs','1004','capstondesign','capstondesign');
INSERT INTO device VALUES(2,'R2','192.168.20.1','cisco','nlabs','1004','capstondesign','capstondesign');
INSERT INTO device VALUES(3,'R3','192.168.30.2','cisco','nlabs','1004','capstondesign','capstondesign');
CREATE TABLE link_info (
      link_id INTEGER PRIMARY KEY AUTO_INCREMENT,
      device_a INTEGER,
      device_b INTEGER,
      interface_a TEXT,
      interface_b TEXT
    );
INSERT INTO link_info VALUES(1,1,8,'Gig 0/0','WS-C2950G Fas');
INSERT INTO link_info VALUES(2,1,7,'Gig 0/1','WS-C3560X Gig');
INSERT INTO link_info VALUES(3,2,8,'Gig 0/0','WS-C2950G Fas');
CREATE TABLE device_cache (
      device_id INTEGER PRIMARY KEY,
      json TEXT
    );
CREATE TABLE device_stats (
      id INTEGER PRIMARY KEY AUTO_INCREMENT,
      device_id INTEGER,
      timestamp DATETIME DEFAULT CURRENT_TIMESTAMP,
      cpu_usage TEXT,
      mem_usage TEXT
    );
INSERT INTO device_stats VALUES(1,1,'2025-05-08 05:21:02','1%','34%');
INSERT INTO device_stats VALUES(2,2,'2025-05-08 05:21:03','9%','35%');
INSERT INTO device_stats VALUES(3,3,'2025-05-08 05:21:04','0%','8%');
INSERT INTO sqlite_sequence VALUES('device',11);
INSERT INTO sqlite_sequence VALUES('link_info',18);
INSERT INTO sqlite_sequence VALUES('device_stats',11);
COMMIT;
